* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: black;
  line-height: 25px;
 
}
/* couleur du BG */

body {
  background-color: #F5EEE6;  
}

/* POLICES DES TITRES */

h1,
h2,
h3,
h4,
h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: grey;
}

.exchange {
    font-size: 2rem;
}



/* POSITIONNEMENT DU TITRE PRINCIPALE DE L'INDEX , CONTACTS, EVENEMENTS*/

#cso {
  position: relative;
  text-align: center;
  color: lightgrey;
  top: 70%;
}

/* image de fond de la page animateurs.html */

/* .team {
    background-image: url(images/grange.jpg);
    background-position: center;
    background-size: cover;
} */




/* création de la justification du texte des paragraphes */

.text-justify {
  text-align: justify;
}

/* ombrages des cartes BS */

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* header et footer */

.hdp {
    height: auto;
    width: 100%;
    background-color: #F0F0F0;
}

.bdp {
    border-top: 1px solid black;
    background-color: #F0F0F0;
}

/* couleur des textes du carousel événements.html */

.text-slider {
    color: blanchedalmond;
}